.blog-small-image {
  height: 120px;
  width: 200px;
  margin-right: 10px;
}

.author-image {
  height: 25px;
  border-radius: 50%;
}

.home-blog-container {
  border: 1px solid #d3d3d3;
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  /* height: 200px; */
  border-radius: 5px;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
}

.author-container {
  display: flex;
  align-items: center;
  font-family: 'Roboto';
  margin-bottom: 25px;
}

.topic-container {
  line-height: 1;
  display: flex;
  flex-direction: column;
  margin: 0;
}

.author-name {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 500;
  margin-left: 10px;
}

.title {
  font-family: 'Roboto';
  /* font-size: 10px; */
  width: 300px;
  margin: 5px;
  /* font-size: 20px; */
}

.topic {
  font-family: 'Roboto';
  color: #8e8e8e;
  font-size: 14px;
  line-height: 0;
  margin-top: 0;
  margin-left: 4px;
}

.link-blog {
  text-decoration: none;
}
